sync-to-github:
  image: alpine:latest
  script:
    - apk add --no-cache git
    - git config --global user.email "ci@gitlab.com"
    - git config --global user.name "GitLab CI"
    - cd /tmp
    - git clone --mirror https://gitlab.com/KillerPR/healthshield_APP.git
    - cd healthshield_APP.git
    - git push --mirror https://josepinto1991:$GITHUB_TOKEN@github.com/josepinto1991/healthshield_APP.git
    - echo "Sincronizacion completa"
  only:
    - main