[phases.setup]
nixPkgs = ["postgresql"]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "cd backend && pip install -r requirements.txt"
]

[start]
cmd = "cd backend && uvicorn main:app --host 0.0.0.0 --port $PORT"